.wrapper
{
  display: flex;
  flex-direction: row;
}

.container
{
  border: solid 1px #d4d4d4;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
}

.information
{
  display: flex;
  flex-direction: column;
  width: 55%;
}

.selectedCard
{
  background-color: #f0f5fa;
  border: solid 1px #e9f1fa;
  padding: 10px;
}

.total
{
  width: 45%;
}
